<table class="vehicle-table">
    <thead>
      <tr>
        <th>Reg</th>
        <th>Make</th>
        <th>Model</th>
        <th>Owner</th>
        <th>Mechanic</th>
        <th>Garage</th>
        <th>Update</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vehicle of vehicles">
        <td>{{ vehicle.reg }}</td>
        <td>{{ vehicle.make }}</td>
        <td>{{ vehicle.model }}</td>
        <td>
          {{ vehicle.owner?.cid }} - {{ vehicle.owner?.name }}
        </td>
        <td>
          {{ vehicle.mechanic?.mid }} - {{ vehicle.mechanic?.name }}
          ({{ vehicle.mechanic?.salary }})
        </td>
        <td>
          {{ vehicle.mechanic?.garage?.gid }} - {{ vehicle.mechanic?.garage?.location }}
          ({{ vehicle.mechanic?.garage?.budget }})
        </td>
        <td>
          <button (click)="updateVehicle(vehicle)">Update</button>
        </td>
      </tr>
    </tbody>
  </table>
  