/* You can add global styles to this file, and also import other style files */
/* Light Mode */
body {
    background-color: white;
    color: black;
  }
  
  header, footer {
    background-color: #f0f0f0;
  }
  
  /* Dark Mode */
  body.dark-mode {
    background-color: #121212;
    color: white;
  }
  
  header.dark-mode, footer.dark-mode {
    background-color: #1c1c1c;
  }
  